101 ICON "GameOptimizer.ico"

1 VERSIONINFO
 FILEVERSION 0,5,9,0
 PRODUCTVERSION 0,5,9,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "IRP_HongKong"
            VALUE "FileDescription", "Game Optimizer - CPU threads optimizer"
            VALUE "FileVersion", "0.5.9.0"
            VALUE "InternalName", "GameOptimizer"
            VALUE "LegalCopyright", "Copyright (c) 2026 IRP_HongKong"
            VALUE "OriginalFilename", "GameOptimizer.exe"
            VALUE "ProductName", "Game Optimizer"
            VALUE "ProductVersion", "0.5.9.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
